body {
  background-color: #275c7a;
}

form {
  margin: 0;
  max-width: 40vw;
  max-height: fit-content;
}

label {
  color: rgb(15, 62, 107);
  display: block;
  font-size: 16px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}

input {
  /*background: transparent;*/
  border: 0;
  border-radius: 8px;
  background-color: rgb(238, 238, 238);
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  outline: none;
  width: 100%;
}

ul {
  list-style: none;
}

.d-none {
  display: none;
}

/*SELECT ICONS*/
.select-icons {
  display: inline-block;
}

#bike-icon {
  background-image: url(bike_icon.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  height: 50px;
  width: 50px;
}

#trekking-icon {
  background-image: url(hiking_icon.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  height: 50px;
  width: 50px;

}

#climbing-icon {
  background-image: url(climb_icon.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  height: 50px;
  width: 50px;
}

.icon-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* HIDE RADIO */
.hiddenradio [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.hiddenradio [type="radio"]+img input {
  cursor: pointer;
}

/* CHECKED STYLES */
.hiddenradio [type="radio"]:checked+im input {
  background-color: cadetblue;
  border: 10px solid red;
}


.container {
  display: flex;
  justify-content: center;

  max-width: 1280px;
  margin: 0 auto;
}

.card {
  margin: 2rem;
  padding: 2rem;
}

.card.bg-img {
  background-image: url(backpackers-mountains.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  min-height: 4rem;
  border-radius: 8px;
}

.box {
  background-color: white;
  display: flex;
  justify-content: center;
  max-width: 30vw;
  max-height: fit-content;
  border-radius: 8px;
}


.btn {
  color: rgb(15, 62, 107);
  background-color: rgb(125, 179, 204);
  border-radius: 8px;

  margin: 0.5rem;
}