body {
  background-color: #275c7a;
  font-family: 'Mulish', sans-serif;
}

form {
  display: block;
  padding: 4rem;
  background-color: rgba(126, 201, 231, 0.288);
  justify-content: center;
  border-radius: 8px;
}

label {
  color: rgb(15, 62, 107);
  font-weight: bold;
  display: block;
  font-size: 16px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}

select {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  border-radius: 2rem;
}

input {
  /*background: transparent;*/
  border: 0;
  border-radius: 8px;
  background-color: rgb(238, 238, 238);
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  outline: none;
  width: 100%;
  color: gray;
  margin: 0.5rem;
}

ul {
  list-style: none;
}

.d-none {
  display: none;
}

/*SELECT ICONS*/
.select-icons {
  display: inline-block;
}

#bike-icon {
  background-image: url(bike_icon.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  height: 50px;
  width: 50px;
}

#trekking-icon {
  background-image: url(hiking_icon.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  height: 50px;
  width: 50px;

}

#climbing-icon {
  background-image: url(climb_icon.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  height: 50px;
  width: 50px;
}

.box-select {
  background-color: rgba(214, 209, 240, 0.562);
  background-size: 80px;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  display: inline-block;
  padding: 10px;
  box-shadow: 1px 1px 3px #cbc7f7;


}

/* HIDE RADIO */
.hiddenradio input[type=radio] {
 visibility: hidden;
 /*display:none;*/
}

/* IMAGE STYLES */
.hiddenradio input[type="radio"]+img {
  cursor: pointer;
  border: 0;
  width: 150px;
  height: 150px;
  transition: 100ms all;

}

/* CHECKED STYLES */
.hiddenradio input[type="radio"]:checked+img {
  background-color: rgba(236, 77, 117, 0.712);
}


.container {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
}

.card {
  margin: 2rem;
  padding: 2rem;
}

.card.bg-img {
  background-image: url(bg-landscape.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  min-height: 4rem;
  border-radius: 8px;
}


.btn{
  color: white;
  background-color: rgb(125, 179, 204);
  border-radius: 8px;
  width: 30vw;
  height: 5vh;
  margin-top: 4rem;
  border: none;
  display: block;
}