body {
  background-color: #275c7a;
  font-family: 'Mulish', sans-serif;
}

form {
  padding: 6rem;
  background-color: rgba(126, 201, 231, 0.288);
  justify-content: center;
  border-radius: 8px;
}

label {
  color: rgb(15, 62, 107);
  font-weight: bold;
  display: block;
  font-size: 16px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}

select {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  border-radius: 2rem;
}

input {
  /*background: transparent;*/
  border: 0;
  border-radius: 8px;
  background-color: rgb(238, 238, 238);
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  outline: none;
  width: 100%;
}

ul {
  list-style: none;
}

.d-none {
  display: none;
}

/*SELECT ICONS*/
.select-icons {
  display: inline-block;
}

#bike-icon {
  background-image: url(bike_icon.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  height: 50px;
  width: 50px;
}

#trekking-icon {
  background-image: url(hiking_icon.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  height: 50px;
  width: 50px;

}

#climbing-icon {
  background-image: url(climb_icon.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  height: 50px;
  width: 50px;
}

/* HIDE RADIO */
.hiddenradio [type=radio] {
visibility: hidden;
}

/* IMAGE STYLES */
.hiddenradio [type="radio"]+img {
  cursor: pointer;
}

/* CHECKED STYLES */
.hiddenradio [type="radio"]:checked+img {
  background-color: cadetblue;
  border: 10px solid red;
}


.container {
  display: flex;
  justify-content: center;

  max-width: 1280px;
  margin: 0 auto;
}

.card {
  margin: 2rem;
  padding: 2rem;
}

.card.bg-img {
  background-image: url(bg-landscape.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  min-height: 4rem;
  border-radius: 8px;
}


.btn {
  color: rgb(15, 62, 107);
  background-color: rgb(125, 179, 204);
  border-radius: 8px;
  width: 20vw;
  margin: 0.5rem;
  align-self: center;
}