<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container d-flex border">
    <div class="row">
      <div class="col-4">
        <img src="trekking.jpg" alt="mountain">
      </div>
      <div class="col-4">
  <form action="/my-form-page" method="post">
    <div class="dates" data-type="none">
			<label for="checkin">Check in</label>
			<div class="input-text">
				<input type="datetime" value="9 July, 2016" id="checkin" readonly>
				<div class="icon pop-up"></div>
			</div>
			<label for="checkout">Check out</label>
			<div class="input-text">
				<input type="datetime" value="16 July, 2016" id="checkout" readonly>
				<div class="icon pop-up"></div>
			</div>
    <ul>
      <li>
        <label for="name">Name:</label>
        <input type="text" id="name" name="user_name">
      </li>
      <li>
        <label for="mail">E-mail:</label>
        <input type="email" id="mail" name="user_email">
      </li>
     </ul>
     <input type="image" alt="Click me!" src="..." width="80" height="30">
  </form>
</div>
</div>
</div>
</body>
</html>