<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="all.css" media="screen" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,600;0,800;1,200;1,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="card bg-img">
        <div class="box">
          <form id="myform" action="/submit" method="POST">
            <!--DATI PER TICKET-->
            <div>
              <label for="name">Enter your name: </label>
              <input type="text" name="name" id="name" required>
            </div>
            <div>
              <label for="name">Enter your last name: </label>
              <input type="text" name="lastName" id="lastName" required>
            </div>
            <label for="birthday">Birthday Date</label>
            <div>
              <input type="date" value="16 July, 2016" id="checkout" />
            </div>
            <div>
            <label for="nationality-choice">Select Nationality:</label>
            <input
              list="nationalityList"
              id="nationList"
              name="nationality-choice"
            />
            <datalist id="nationalityList">
              <option value="México"> </option>
              <option value="Brasil"> </option>
              <option value="Italia"> </option>
              <option value="Bora Bora"> </option>
              <option value="Tailandia"> </option>
            </datalist>
          </div>
          </form>
        </div>
      </div>
    </div>
    <script src="all.js"></script>
  </body>
</html>
